.humans{
    background: #232323;
    text-align: center;
    padding: 15px 0;
}

.humans .row{
    justify-content: center;
}

.humans .col{
    width: calc(100% / 12 * 3 - 30px);
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.humans .col img{
    margin: 10px 0;
    max-width: 90%;
    align-self: center;
}

.humans .col .subtitle{
    color: #6cc372;
    font-size: 24px;
    margin: 10px 0 20px;
}

.humans .col .job{
    margin: auto 10px 10px;
}

.humans .col .follow{
    background: #6cc372;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}

@media screen and (max-width: 860px){
    .humans .col{
        width: calc(100% / 12 * 6 - 30px);
    }
}

@media screen and (max-width: 560px){
    .humans .col{
        width: calc(100% / 12 * 12 - 30px);
    }

    .humans .col .follow{
        order: -1;
    }
}

