.idea
.vscode
books
notDone/2018lavrick_intensive_js
notDone/2019completejs12gb
notDone/2019laravrick_flex_gulp
notDone/AnimateBackground
notDone/codedojo
notDone/complete_js
notDone/csscast
notDone/Design Pattern_book
notDone/Geekunercity prof verstka
notDone/htmlacademy_prof_JS
notDone/js_beginner_middle_adv
notDone/OOP
notDone/RJTTDDProject/node_modules
notDone/RJTTDDProject/dist
notDone/Shech_project
notDone/the-advanced-web-developer-bootcamp
notDone/theCompleteGuide2020js
notDone/udemy-complete web development 15 prjct
notDone/web-develop-bootcamp(1)
z old course files
